// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-product-form {
  min-width: 336px;
  #product_description {
    height: 150px;
  }

  .submit-button {
    width: 50%;
  }

  .error-message {
    position: absolute;
    bottom: 9%;
    margin: 0;
    right: 7%;
    color: red;
  }
}

.card {
  min-height: 496px;

  .card-body {
    max-height: 208px;
  }

  .price-btn {
    min-width: 99px;
  }

  .compare_button {
    cursor: pointer;
  }

  .selected_compare {
    border-radius: 20px;
    box-shadow: 0 0 10px green;
    font-size: 23px;
  }
}

.compare-page {
  .container {
    scrollbar-width: none;
  }
}
