// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-product-form {
  min-width: 336px;
  #product_description {
    height: 150px;
  }

  .submit-button {
    width: 50%;
  }

  .error-message {
    position: absolute;
    bottom: 9%;
    margin: 0;
    right: 7%;
    color: red;
  }
}

.card {
  .price-btn {
    min-width: 99px;
  }

  min-height: 496px;
}
